<form asp-action="stringProcess" method="post">
    <input type="text" name="stringInput" value="" /> <br />
    <input type="submit" name="name" value="Submit" />
</form>
<br />
<br />
@* <h2>@ViewData["RemovedSpaceString"]</h2>
<h2>@ViewData["toUpperString"]</h2>
<h2>@ViewData["toLowerString"]</h2>
<h2>@ViewData["CapitalizeOneFirstCharacter"]</h2> *@
<h2>@ViewData["CapitalizeFirstCharacter"]</h2>
<h2>@ViewData["RemoveVietnameseAccents"]</h2>

